.head{
	font-family:Arial, Helvetica, sans-serif; font-size:35px; font-style:normal; font-weight:bold;color: #000;
	text-shadow: 1px 1px 1px #600;}
.Chips{
	font-size:24px}
.chips{
	font-size: 54px;
	color:black;
	font-style:normal;
	font-weight:bold
	}

.mainFrame:{
	position:absolute; 
    top:50%; 
    left:50%; 
    margin:-150px 0 0 -150px; 
    width:300px; 
    height:300px; 
    border:1px solid red; 
}
body{text-align:center;}
body{ 
FILTER: Alpha( style=1,opacity=25,finishOpacity=100, 
startX=50,finishX= 100,startY=50,finishY=100); 
background-color: skyblue; 
} 
.hello{
	margin:0 auto;
    width:500px; 
    text-align:center;
	}
.hello p{
	font-weight:bold; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:50px;
}
